
@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
    
}




<h2>@ViewData["Title"]</h2>

<form method="post">
<h2>Enter reference Euro4x4parts :</h2>
<input type="text" name="reference2" placeholder="BCY1516"/>
<input type="submit" value="Search"/>
</form>




<div id="ref">
<h3>@Html.Raw(Model.Message)</h3>
 

</div>
<div id ="stores">
<h3>@Html.Raw(Model.Message2)</h3>
 

</div>








